site_name: Auto-REST Documentation

theme:
  name: material
  palette:
    primary: custom
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - search.suggest
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
extra_css:
  - _static/css/theme.css
plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_toc_entry: false
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
extra:
  generator: false
nav:
  - Introduction: index.md
  - Getting Started:
      - getting_started/install.md
      - getting_started/deploying.md
      - getting_started/running_prod.md
  - Architecture:
      - Overview: architecture/overview.md
      - Source Code:
        - architecture/app.md
        - architecture/cli.md
        - architecture/handlers.md
        - architecture/models.md
        - architecture/params.md
        - architecture/queries.md
        - architecture/routers.md
  - Contributing:
      - contributing/guidelines.md
      - Project License: contributing/license.md
      - contributing/dev_reference.md
copyright: Copyright &copy; 2025 Better HPC
